﻿@{
    ViewBag.Title = "Confirmation";
}

<div class="jumbotron text-center intro">
    @if (Model == true)
    {
        <div id="coming-msg">
            <h4>תודה שאישרת את הגעת לחתונתינו. <br />
                .נשמח לראותך איתנו ב-18.4 בגלריה , בית לאירועים, בית חירות</h4>
        </div>
    }
    else
    {
        <div id="not-coming-msg">
            <h4>חבל שלא תוכל להגיע. תודה שענית.</h4>
        </div>
    }
    <br />
    <a href="~/Home/Index/@ViewBag.Code">חזרה לעמוד הקודם</a>
    <br />
    <div id="links" class="row text-center">
        <a href="waze://?ll=32.38326,34.865157&navigate=yes">
            <img src="~/Content/img/waze.png" height="80" id="waze-logo" />
        </a>

        <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=YW4wMjA5YjM1OTh0OW10amZxb3Y4cjh2cHMgbmE2N2Y1ZG8ydjdjbTJiN3QxaXM3cWprcGtAZw&amp;tmsrc=na67f5do2v7cm2b7t1is7qjkpk%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_iw.gif">
        </a>
    </div>
</div>
