﻿@model Wedding.MvcUI.Models.PartyVM
@{
    ViewBag.Title = "נועה וליאור מתחתנים";
}

@Html.Partial("~/Views/Shared/_IntroPartial.cshtml")

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="box-in-modal">
                    @using (Html.BeginForm("CorrectCode", "Home", FormMethod.Post, new { @class = "form-inline", id = "redirect-by-code" }))
                    {
                        <p>אנא הקלידו את הקוד (ארבעה תווים) שבסוף כתובת האינטרנט המופיעה בהזמנתכם:</p>
                        <input id="txtCode" name="Code" class="form-control" />
                        <button id="btnRedirectWithCode" type="submit" class="btn btn-default">לדף האישי שלך</button>
                    }
                </div>
                <br />
                <div class="box-in-modal">
                    @using (Html.BeginForm("CreateNewParty", "Home", FormMethod.Post, new { @class = "form-inline" }))
                    { 
                        <p>אם אין בידכם קוד זה, אנא הכניסו את הפרטים הבאים:</p>
                        <div id="redirect-name" class="form-group">
                            @Html.Label("שם:", new { @for = "txtName" })
                            <input id="txtName" name="Name" class="form-control" />
                        </div>
                        <div id="redirect-phone" class="form-group">
                            @Html.Label("מספר טלפון:", new { @for = "txtPhone" })
                            <input id="txtPhone" name="Phone" class="form-control" />
                        </div>
                        <button id="btnCreateParty" type="submit" class="btn btn-default">לעמוד אישור הגעה</button>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@if (Model.Code != null && Model.Code != "")
{
    
    <div class="text-center">
        <h2 class="greeting">@Model.Greeting.GreetingText, @Model.Name</h2>
        <button type="button" class="btn btn-sm btn-default" id="not-me" data-toggle="modal" data-target="#myModal">לא אני (טעות)</button>
    </div>

    using (Html.BeginForm("Confirmation", "Home", FormMethod.Post, new { @class = "clearfix" }))
    {
    <div class="hidden" id="hidden-info">
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.PartyID)
        @Html.HiddenFor(m => m.Code)
        @Html.HiddenFor(m => m.GreetingID)
        <input id="status-hidden" value="@Model.Status.ToString()"/>
        <div id="meals-hidden">
            @if (Model.Guests != null)
            {
                foreach (var guest in Model.Guests)
                {
                    <input value="@guest.MealID"/>
                }
            }
        </div>
    </div>
    
    <div id="hide-form-box" class="text-center hidden">
        <br />
        <button id="hide-form-btn" type="button" class="btn btn-default">מעוניין לשנות פרטים</button>
    </div>
    
    @Html.ValidationSummary(true, null, new { @class = "error-msg col-xs-12" })
    <div id="info-to-update">
        <div class="form-group text-center" id="arrival-status">
            <h2>האם תגיעו לאירוע? </h2>
            <div class="btn-group col-xs-12 col-md-6 col-md-offset-3" data-toggle="buttons">
                <label id="lbl-maybe" class="btn btn-default col-xs-4">
                    @Html.RadioButtonFor(m => m.Status, 2, new { id = "radio-maybe", autocomplete = "off" })
                    אולי
                </label>
                <label id="lbl-no" class="btn btn-default col-xs-4">
                    @Html.RadioButtonFor(m => m.Status, 0, new { id = "radio-no", autocomplete = "off" })
                    לא
                </label>
                <label id="lbl-yes" class="btn btn-default col-xs-4">
                    @Html.RadioButtonFor(m => m.Status, 1, new { id = "radio-yes", autocomplete = "off" })
                    כן
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "error-msg" })
        </div>


        <div id="num-of-guests-block" class="question-block hidden form-group col-xs-12 col-md-6 col-md-offset-3">
            <div class="row">
                @Html.LabelFor(m => m.NumOfGuests, "כמה תהיו?", new { @class = "col-xs-4 pull-right" })
                <div class="col-xs-8">
                    @Html.DropDownListFor(m => m.NumOfGuests, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "בחר",
                new { @class = "form-control", id = "num-of-guests" })
                    @Html.ValidationMessageFor(m => m.NumOfGuests, "", new { @class = "error-msg" })
                </div>
            </div>
        </div>


        <ul class="all-guests form-group col-xs-12 col-md-6 col-md-offset-3">
            @{
                var count = 0;
                var label = "";
                while (count < 10)
                {
                <li class="guest hidden form-group col-xs-12">
                    <span class="row">
                        @{label = " סוג מנה (אורח " + (count + 1).ToString() + ")";
                        }
                        @Html.Label(label, new { @class = "col-xs-8" })
                        @Html.DropDownListFor(m => m.Guests[count].MealID, new SelectList(Model.Meals, "MealID", "TypeOfMeal"), "בחר", new { @class = "form-control col-xs-8" })
                    </span>
                    <span id="helpBlock2" class="help-block">
                        @Html.ValidationMessageFor(m => m.Guests[count].MealID, "", new { @class = "text-danger" })
                    </span>
                </li>
                          count++;
            }
            }
        </ul>

        <div class="form-group hidden col-xs-12 col-md-6 col-md-offset-3" id="song-block">
            @Html.LabelFor(m => m.Song, "נשמח לקבל הכם המלצה לשיר שחובה שיתנגן בחתונה", new { @class = "" })
            @Html.TextBoxFor(m => m.Song, new { @class = "username form-control", id = "txt-song" })
            @Html.ValidationMessageFor(m => m.Song)
        </div>
        <div class="form-group col-xs-12 col-md-2 col-md-offset-5">
            <button id="update-party" type="submit" class="btn btn-block btn-default">סיום</button>
        </div>
    </div>
                            }

        <div id="links" class="row ">
            <div class="col-xs-4 col-md-2 col-md-offset-3 hidden-xs hidden-sm">
                <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=YW4wMjA5YjM1OTh0OW10amZxb3Y4cjh2cHMgbmE2N2Y1ZG8ydjdjbTJiN3QxaXM3cWprcGtAZw&amp;tmsrc=na67f5do2v7cm2b7t1is7qjkpk%40group.calendar.google.com">
                    <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_iw.gif">
                </a>
            </div>

            <div class="col-xs-4 col-md-2 col-md-offset-3 hidden-md hidden-lg">
                <a target="_blank" href="~/Content/wedding.ics" class="btn btn-primary btn-block">
                    <i class="glyphicon glyphicon-calendar"></i>
                    הוספה ליומן
                </a>
            </div>
          

            <div class="col-xs-4 col-md-2">
                <a href="waze://?ll=32.38326,34.865157&amp;navigate=yes">
                    <img src="/Content/img/waze.png" id="waze-logo" width="100%">
                </a>
            </div><div class="col-xs-4 col-md-2">
                <a href="waze://?ll=32.38326,34.865157&amp;navigate=yes">
                    <img src="/Content/img/GalleriaLogo.jpg" width="100%">
                </a>
            </div>
        </div>
      

    <footer id="event-info" class="text-center row">
        <h4>
            הגלריה לאירועים, מתחם אם הדרך על כביש החוף. חניה במתחם חינם לבאי האירוע.
        </h4>
    </footer>
    
}

else
{
    <br />
    <div class="text-center">
        <h3>@Model.ErrorMessage</h3>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">המשך</button>
    </div>
    <br />
    <br />
}

<br />

@section style{
    <link href="~/Content/MyCSS/Form.css" rel="stylesheet" />
}

@section script{
    <script src="~/Scripts/MyScripts/Form.js"></script>
}
