﻿<div class="jumbotron intro-font text-center intro">
    <h1>נועה וליאור מתחתנים!</h1>
    <h2>18.4.2016</h2>
    <h2>קבלת פנים 19:30, חופה 20:30</h2>
    <h2>הגלריה בית לאירועים (בית חירות)</h2>
</div>