﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/MyCSS/General.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>

<body>
    <div class="container">
        @RenderBody()
        <div class="row text-center contact-us">
            <h4>רוצה אתר כזה במחיר מצחיק? צור/צרי קשר בדוא"ל <a href="mailto:taltr007@gmail.com">taltr007@gmail.com</a>  
            <br />
            או בטל':  <a href="tel://054-5824689">054-5824689</a> (רועי) </h4>
        </div>
    </div>
    @RenderSection("script", false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
