﻿@model Wedding.MvcUI.Models.ManageVM
@{
    ViewBag.Title = "נועה וליאור - רשימת מוזמנים";
}

@Html.Partial("~/Views/Shared/_IntroPartial.cshtml")

<h2>סה"כ הזמנות עבור כל סוג מנה:</h2>
<ul>
    @{
        foreach (var meal in Model.Meals)
        {
            <li><label>@meal.Name :</label> @meal.Number</li>
        }
    }
</ul>

<h2>מצב אישורי הגעה:</h2>
<ul>
    @{
        <li><label>אורחים מגיעים: </label> @Model.StatusArriving</li>
        <li><label>אורחים שאולי מגיעים: </label> @Model.StatusMaybe</li>
        <li><label> לא מגיעים (מספר הזמנות): </label> @Model.StatusNotArriving</li>
        <li><label>הזמנות שממתינות לאישור: </label> @Model.StatusPending</li>

    }
</ul>

<h2 class="text-center">רשימת מוזמנים</h2>
<table  class="parties-table table table-bordered table-hover right">
    <thead>
        <tr>
            <th>קוד</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>מוזמן של</th>
            <th>קטגוריה</th>
            <th>טלפון</th>
            <th>מגיעים</th>
            <th>מס' מוזמנים</th>
            <th>מנות</th>
            <th>שיר</th>
            <th>הוסיף את עצמו</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wedding.Model.Party party in Model.Parties)
            {
            <tr>
                <td>@party.Code</td>
                <td>@party.Name</td>
                <td>@party.LastName</td>
                <td>@party.Host</td>
                <td>@party.Category</td>
                <td>@party.Phone</td>
                <td>
                    @if (party.Status == Wedding.Model.ArrivalStatus.Yes)
                    {
                        <span class="coming">כן</span>
                    }
                    else if (party.Status == Wedding.Model.ArrivalStatus.Maybe)
                    {
                        <span class="maybe-coming">אולי</span>
                    }
                    else if (party.Status == Wedding.Model.ArrivalStatus.No)
                    {
                        <span class="not-coming">לא</span>
                    }
                </td>

                <td>@party.NumOfGuests</td>
                <td>
                    @{
                        var regular = 0;
                        var child = 0;
                        var vegetarian = 0;
                        var vegan = 0;
                        var glutenFree = 0;
                        foreach (var guest in party.Guests)
                        {
                            if (guest.Meal.TypeOfMeal == "רגיל")
                            {
                                regular++;
                            }
                            else if (guest.Meal.TypeOfMeal == "ילד (עד גיל 13)")
                            {
                                child++;
                            }
                            else if (guest.Meal.TypeOfMeal == "צמחוני")
                            {
                                vegetarian++;
                            }
                            else if (guest.Meal.TypeOfMeal == "טבעוני")
                            {
                                vegan++;
                            }
                            else if (guest.Meal.TypeOfMeal == "ללא גלוטן")
                            {
                                glutenFree++;
                            }
                        }
                        if (regular > 0)
                        {
                            <p>
                                <label>רגיל:</label>
                                @regular
                            </p>
                        }
                        if (child > 0)
                        {

                            <p>
                                <label>ילד:</label>
                                @child
                            </p>

                        }
                        if (vegetarian > 0)
                        {

                            <p>
                                <label>צמחוני:</label>
                                @vegetarian
                            </p>

                        }
                        if (vegan > 0)
                        {
                            <p>

                                <label>טבעוני:</label>
                                @vegan

                            </p>
                        }
                        if (glutenFree > 0)
                        {
                            <p>

                                <label>ללא גלוטן:</label>
                                @glutenFree

                            </p>
                        }

                    }



                </td>
                <td>@party.Song</td>
                <td class="text-center">
                    @if (party.IsSelfAdded == true)
                    {
                        <span class="self-added">&#10004;</span>
                    }
                </td>
            </tr>
                        }
    </tbody>

</table>

@section script{
    <script src="~/Scripts/MyScripts/info-table.js"></script>
}