﻿@model Wedding.MvcUI.Models.LoginVM
@{
    ViewBag.Title = "התחברות";
}

<br />
<br />
<div class="text-center">
    @if (Model.Message!="")
    {
        <span class="text-danger">@Model.Message</span>
    }
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.LabelFor(l => l.Password, "סיסמה")
            @Html.TextBoxFor(l => l.Password, new { @class = "form-control" })
            <br />
            <br />
            <button type="submit" class="btn btn-default">התחבר/י</button>
        </div>

    }
</div>
<br />
<br />
