﻿.form-group label {
    float: right;
    top: 7px;
}

.form-group.guest > label {
    float: none;
}

.form-group {
    clear: both;
}

#radio-no, #radio-maybe {
    margin-right: 30px;
}

ul {
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #f7ebdb;
    list-style: none;
}


li {
    /*background-color: #aed7ff;*/
    /*border-radius: 3px 3px;*/
    /*padding: 5px 4px 1px 0px;*/
}

.box-in-modal {
    background-color: whitesmoke;
    border-radius: 3px 3px;
    padding: 4px 5px 4px 0px;
    text-underline-position: below;
}

/*#num-of-guests-block {
    clear: left;
}

    #num-of-guests-block > label {
        margin-right: 20px;
    }*/

