﻿@font-face {
    font-family: dorian;
    src: url(../DorianCLM-Book.ttf);
    font-weight: bold;
}

* {
    direction: rtl;
}

.container {
    background-color: whitesmoke;  /*#c2fff6;*/
    border-radius: 0px 0px 7px 7px;
}

.contact-us {
    box-shadow: 0px -6px 15px 4px rgba(199, 183, 167, 0.55);
	margin-top:50px;
	background-color: #ECE2D5;
	color: gray;
}
    .contact-us h4 {
        line-height:1.5em;
    } 

.intro-font {
    font-family: dorian;
}

.intro {
    margin-top: 10px;
    font-weight: 700;
    background-image:url(../img/pattern1.jpg);
    border:10px double pink;
    border-radius:150px !important;
    box-shadow:0px 10px 10px #6b2f2f;
}

#arrival-status {
    margin-bottom:60px;
}

.question-block {
    font-size:medium;
}


#links {
    margin:20px auto 20px auto;
}

table {
    direction: ltr;
}

th, td {
    text-align: right;
}

.purple-bg {
    background-color:#e8defc !important;
}

.input-validation-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.input-validation-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.parties-table p {
    line-height: 0.5em;
}

#links .btn {
    white-space:normal !important;
    word-wrap:break-word; 
}

#event-info h4{
    line-height: 1.7em;
}